[submodule "bootstrap-wysiwyg"]
	path = bootstrap-wysiwyg
	url = git@github.com:mindmup/bootstrap-wysiwyg.git
[submodule "bootstrap3-wysiwyg"]
	path = bootstrap3-wysiwyg
	url = https://github.com/bootstrap-wysiwyg/bootstrap3-wysiwyg.git
